{{!-- This is the base layout for your project, and will be used on every page unless specified. --}}

<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{meta-title}}</title>
    <link rel="stylesheet" href="{{root}}assets/css/app.css">
  </head>
  <body>
  <div class="top-bar" id="main-menu">
    <div class="top-bar-left">
      <div class="top-bar-title logo">
        <img src="{{root}}assets/img/logo.png" >
      </div>
    </div>
    <div class="top-bar-right">
      <ul class="menu vertical medium-horizontal expanded" data-responsive-menu="drilldown medium-dropdown">
        <li><a href="#">Documentation</a></li>
        <li><a href="#">FAQ</a></li>
        <li><a href="#">APIs/History</a></li>
        <li><a href="#">Logout</a></li>
      </ul>
    </div>
  </div>


  <div class="current-progress" style="">
    <div class="current" href="#" id="progress-1"> <img src="../assets/img/Nucleus.svg" width="100" height="100"/> <br><h5>General Information</h5></div> 
    <div href="#" id="progress-2"> <img src="../assets/img/UFO.svg"/> <br><h5> Namespace </h5></div> 
    <div href="#" id="progress-3"> <img src="../assets/img/SpaceStation.svg"/><br> <h5>Configuration </h5></div> 
    <div href="#" id="progress-4"> <img src="../assets/img/spaceship_New.svg"/><br> <h5>Start Coding! </h5></div> 
  </div>
  
    {{> body}}
    
    <script src="{{root}}assets/js/app.js"></script>
  </body>
</html>
